<?xml version="1.0" ?>
<robot name="wheel" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="bigbot_wheel" params="wheel_linkname">
  	<link name="${wheel_linkname}_UCS1">
		<inertial>
			<mass value="2e-06" />
			<inertia ixx="1.1e-09" ixy="0" ixz="0" iyy="1.1e-09" iyz="0" izz="1.1e-09" />
		</inertial>
	</link>

    <link name="${wheel_linkname}_Base">
     	<visual>
			<origin rpy="0 0 0" xyz="0.00000 0.00000 0.00000" />
			<geometry>
				<mesh filename="package://bigbot_description/models/bigbot/meshes/wheel.dae" scale="0.001 0.001 0.001" />
			</geometry>
		</visual>
		<inertial>
			<origin xyz="0.00016 -0.00000 0.00000" />
			<mass value="2.63" />
			<inertia ixx="24140e-6" ixy="0" ixz="0" iyy="15166e-6" iyz="0" izz="15166e-6" />
    		</inertial>
    		<collision>
            <origin xyz="0.02 0.00 0.00000" rpy="0 1.57 0" />
            <geometry><cylinder radius="0.16" length="0.135"/></geometry>
        </collision>
       
    </link>
    
   <gazebo reference="${wheel_linkname}_Base">
    <mu1>0.8</mu1>
    <mu2>0.6</mu2>
    <fdir1>1 0 0</fdir1>
    <slip1>0.02</slip1>
    <slip2>0.1</slip2>
    <kp>1000000</kp>
    <kd>100</kd>
    <maxVel>1.0</maxVel>
    <minDepth>0.001</minDepth>
    </gazebo>
    
   	<joint name="${wheel_linkname}_UCS1_to_${wheel_linkname}_Base" type="fixed">
		<parent link="${wheel_linkname}_UCS1" />
		<child link="${wheel_linkname}_Base" />
		<origin xyz="-0.00048 0.00039 0.07671" rpy="-0.0 1.5707963057214722 0.0" />
	</joint>
  </xacro:macro>
</robot>
