[Unit]
Description=bigbot rc launcher
Requires=network-wait-online.service
After=network-wait-online.service

[Service]
WorkingDirectory=/home/bigbot/bigbot
ExecStart=/bin/bash -c 'source /opt/ros/galactic/setup.bash; source /home/<your directory>/bigbot_ros/install/setup.bash; ros2 launch bigbot_bringup rcdrive_launch.py'
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
